<button class="card__container {{typePokemon}}" (click)="openPokemon(pokemon.name)">
    <app-title
        namePokemon={{pokemon.name}}
    ></app-title>
    <div class="card__id">
        <span>{{pokemon.id}}</span>
    </div>
    <div class="card__img">
        <img 
            src={{pokemon.sprites.other.dream_world.front_default}}
            alt="Pikachu" 
            srcset=""
        >
    </div>
    <div class="card__types">
        <app-type
            *ngFor="let t of pokemon.types"
            typePokemon= {{t.type.name}}
        >
        
        </app-type>   
    </div>
    
</button>
