<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="../../../assets/pokemon-logo.png" 
            alt="Logo Pokemon" 
            srcset=""
            width="210px"
            height="48px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="#">Ordenar por Numero</a></li>
            <li><a href="#">Ordenar por Nome</a></li>
            <li><a href="#">Busca por Nome</a></li>
        </ul>
    </div>
</div>

