<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="https://th.bing.com/th/id/OIP.W7SE22Zg8k5uQFdKBr-cvgHaEK?pid=ImgDet&rs=1" 
            alt="Logo Pokemon" 
            srcset=""
            width="210px"
            height="48px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/pokemon/pikachu']">Busca por Nome</a></li>
        </ul>
    </div>
</div>

